---

import Layout from "../layouts/Layout.astro";

---
<Layout>

	<main>
		<h1>Aquí irán los blogs</h1>
	
		<p>este es mi primer blog <a href="/posts/post-1"> <em>blog1 </em></a></p>
	</main>

</Layout>

