---
import Experience from "../components/Experience.astro";
import Porfolio from "../components/Porfolio.astro"
import Github from "../components/icons/Github.astro";
import Linkedin from "../components/icons/Linkedin.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kiko's Porfolio">
		<main class="w-full mx-auto lg:w-[740px] pb-12 pt-12">

			<section class="py-10">
				<h1 class="text-5xl font-bold pb-4">Hey, Soy Kiko 🚀 </h1>
				<h2 class="text-2xl">Desarrollador de aplicaciones web, licenciado en economía con experiencia en un Bootcamp de programación fullstack</h2>
				<nav class="flex pt-4">
					<a href="https://www.linkedin.com/in/franciscojaviernavarrodemingo/" target="_blank"><Linkedin/>Linkedin</a>
					<a href="https://github.com/kikonavarro" target="_blank"><Github/>GitHub</a>
				</nav>
			</section>
			<Experience/>
			<Porfolio/ >
		</main>
		
</Layout>

<style>
	main {
		margin: auto;
	}

	a {
		display: flex;
		padding: 8px;
		margin-right: 16px;
		border: 1px solid white;
		border-radius: 16px;
		background-color: rgba(256, 256, 256, 0.2);
	}
	a:hover {
		scale: 110%;

	}
	
</style>
