---
import Experience from "../components/Experience.astro";
import Porfolio from "../components/Porfolio.astro"
import Layout from "../layouts/Layout.astro";
---

<Layout title="Kiko's Porfolio">
		<main class="w-full mx-auto lg:w-[740px] pb-12 pt-12">

			<section class="py-10">
				
				<h1 class="text-5xl font-bold">Hey, Soy Kiko 🚀 </h1>
				<h2>Desarrollador de aplicaciones web, licenciado en economía con experiencia en un Bootcamp de programación fullstack</h2>
			</section>
			<Experience/>
			<Porfolio/ >
		</main>
		
</Layout>

<style>
	main {
		margin: auto;
	}
</style>
