---
import Github from "./icons/Github.astro";
import Linkedin from "./icons/Linkedin.astro";

---

<nav class="flex">
    <a class="mr-2 ml-2 hover:scale-110"href="https://github.com/kikonavarro" target="_blank"><Github/></a>
    <a class="hover:scale-110" href="https://www.linkedin.com/in/franciscojaviernavarrodemingo/" target="_blank"><Linkedin/></a>
</nav>