---
import Github from "./icons/Github.astro";
import Linkedin from "./icons/Linkedin.astro";

---

<div class="flex">
    <a href="github.com"><Github/></a>
    <a href="linkedin.com"><Linkedin/></a>
</div>