---

---

<nav>
    <ul class="flex gap-x-10" >
        <a href="/">Home</a>
        <a href="#Experience">Experience</a>
        <a href="#">Porfolio</a>
        <a href="/about/">About Me</a>
        <a href="/blog/">Blog</a>
    </ul>
</nav>